LOCAL_DOMAIN={{ local_domain }}
SINGLE_USER_MODE=false
SECRET_KEY_BASE={{ secret_key_base.stdout }}
OTP_SECRET={{ otp_secret.stdout }}
VAPID_PRIVATE_KEY={{ vapid_private_key.stdout }}
VAPID_PUBLIC_KEY={{ vapid_public_key.stdout }}
DB_HOST={{ db_host }}
DB_PORT={{ mastodon_db_port }}
DB_NAME={{ mastodon_db }}
DB_USER={{ mastodon_db_user }}
DB_PASS={{ mastodon_db_password }}
REDIS_HOST={{ redis_host }}
REDIS_PORT={{ redis_port }}
REDIS_PASSWORD={{ redis_pass }}
SMTP_SERVER=localhost
SMTP_PORT=25
SMTP_AUTH_METHOD=none
SMTP_OPENSSL_VERIFY_MODE=none
SMTP_FROM_ADDRESS={{ mastodon_email }}